name: autofix.ci

on:
  workflow_call:
  pull_request:
  push:
    branches: [ "main" ]


jobs:
  autofix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/python-uv-env

    #   # Fix lint errors using pre-commit
    #   - name: Run pre-commit auto-fix
    #     run: uv run pre-commit run --all-files

      - name: Run Ruff Check with auto-fix
        run: uv run ruff check --fix-only .

      - name: Run Ruff Format
        run: uv run ruff format .

      - uses: autofix-ci/action@ff86a557419858bb967097bfc916833f5647fa8c
