name: Release

on:
  release:
    types: [ published ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python-poetry-env
      - name: Publish to pypi
        run: |
          uv config pypi-token.pypi ${{ secrets.PYPI_TOKEN }}
          uv publish --build --no-interaction
      - name: Deploy docs
        run: uv run mkdocs gh-deploy --force
