name: Release

on:
  release:
    types: [ published ]

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/python-uv-env
      - name: Publish to pypi
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: uv publish --build --no-interaction --token $PYPI_TOKEN
      - name: Deploy docs
        run: uv run mkdocs gh-deploy --force
